/* Show it is fixed to the top */
body {
  min-height: 600px;
  min-width: 800px;
  /* padding-top: 4.5rem; */
  padding: 1rem;
}

.scroll-badwords {
  max-height: 103px;
  overflow-y: auto;
}

.scroll-keywords {
  max-height: 203px;
  overflow-y: auto;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 0px;
}

.title-footer {
  margin-top: 8px;
  margin-bottom: -30px;
  width: 100%;
}

a {
  color: #000000;
}

a:hover {
  font-weight: bold;
  text-decoration: none;
}

.badword:hover {
  color: #dc3545;
}

.keyword:hover {
  color: #28a745;
}

.search-amount {
  font-size: 11px;
}

.badwordString {
  color: #dc3545;
}